<body>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card imgFLoat" style="width: 18rem;">
                    <img src="https://www.soy502.com/sites/default/files/styles/full_node/public/2018/Mar/08/screen_shot_2018-03-08_at_7.31.17_am.png"
                        class="card-img-top" alt="...">
                </div>
            </div>

            <div class="col lead">
                <div class="jumbotron">
                    <h1 class="display-4  nuevo">Una vida caliente, no es conveniente!!</h1>


                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="padre">
            <div class="hijo">
                <div class="card " style="width: 28rem;">
                        <img class="afiche"
                            src="https://github.com/MiguePenaloza/nopor/blob/main/src/assets/images/afiche.jpg?raw=true"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Ya empezara el culto, disfrutenlo. :)</p>
                        </div>
                </div>
            </div>
        </div>



    </div>

</body>