body {
    width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: var(--primary);
	color: var(--light);
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	line-height: 1.4;
    /* background-image: url('https://github.com/MiguePenaloza/nopor/blob/main/src/assets/images/logoUnanimes.jpg?raw=true'); */
    /* background-repeat: repeat; */
    /* background-attachment: scroll; */
    background-size: 50% 100%;
    
}

.container {
    padding-top: 50px;
}

.imgFloat {
    float: left;
}
 .lead {
     display: flex;
     align-items: center;
 }
 .box{
    text-align: center;
 }
 .afiche{
    align-items: center;
     text-align: center;
     justify-self: center;
     margin-right: auto;
     right: 30px;
 }

 .padre {
    display: flex;
    justify-content: center;
  }
  .hijo {
    padding: 10px;
    margin: 10px;
  }

  .card-body{
      background-color: slategray;
  }
  .card-text {
      color: yellow;
      text-align: center;
  }

  .nuevo {
      text-decoration: underline;
      text-shadow: springgreen;
  }